In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tqdm

## Drop useless columns

In [2]:
cols = 'CHROM	POS	ID	REF	ALT	QUAL	FILTER	INFO	FORMAT	CAR2493_F	CAR2494_М	CAR2463	CAR2464	CAR2465	CAR2466	CAR2467	CAR2468	CAR2469	CAR2470	CAR2471	CAR2472	CAR2473	CAR2474	CAR2475	CAR2476	CAR2477	CAR2478	CAR2479	CAR2480	CAR2481	CAR2482	CAR2483	CAR2484	CAR2485	CAR2486	CAR2487	CAR2488	CAR2489	CAR2490	CAR2491	CAR2492'.split()
df = pd.read_csv('./data/interim/CARP_KANT.vcf', sep='\t', 
    comment='#', header=None, names=cols) # 8min
df.head()

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,CAR2493_F,...,CAR2483,CAR2484,CAR2485,CAR2486,CAR2487,CAR2488,CAR2489,CAR2490,CAR2491,CAR2492
0,NC_056572.1,186,.,C,T,347.924,.,DP=18;VDB=2.41924e-09;SGB=-1.31291;RPBZ=-0.848...,GT:PL:DP,"1/1:9,3,0:1",...,"./.:0,0,0:0","1/1:45,6,0:2","./.:0,0,0:0","./.:0,0,0:0","./.:0,0,0:0","./.:0,0,0:0","./.:0,0,0:0","./.:0,0,0:0","1/1:33,3,0:1","1/1:34,3,0:1"
1,NC_056572.1,264,.,atttttttt,attttttt,742.671,.,INDEL;IDV=12;IMF=1;DP=164;VDB=4.00419e-13;SGB=...,GT:PL:DP,"0/1:21,0,57:3",...,"1/1:55,6,0:2","0/1:24,0,27:2","0/1:24,0,30:2","0/0:0,6,66:2","1/1:47,6,0:2","0/1:30,3,0:1","0/1:21,0,57:3","0/1:56,0,104:7","0/0:0,12,108:4","0/0:0,21,146:7"
2,NC_056572.1,310,.,A,G,785.540,.,DP=235;VDB=0.108634;SGB=-1.65358;RPBZ=-0.77472...,GT:PL:DP,"0/1:52,0,111:5",...,"0/0:0,6,64:2","0/0:0,9,91:3","0/0:0,9,86:3","0/0:0,12,168:4","0/1:86,0,65:4","0/1:27,0,30:2","0/1:27,0,79:4","0/0:0,24,195:8","0/0:0,18,167:6","0/0:0,27,172:9"
3,NC_056572.1,410,.,G,C,1072.760,.,DP=258;VDB=0.440706;SGB=-13.0246;RPBZ=-0.60076...,GT:PL:DP,"0/0:0,18,144:6",...,"0/1:64,0,57:4","0/1:24,0,80:3","0/1:53,0,30:5","0/0:0,24,223:8","0/1:166,0,18:6","0/1:36,3,0:1","0/0:0,15,170:5","0/1:78,0,107:7","0/1:18,0,131:6","0/0:0,15,132:5"
4,NC_056572.1,419,.,C,T,1267.530,.,DP=245;VDB=0.134293;SGB=-9.73095;RPBZ=0.732702...,GT:PL:DP,"0/1:80,0,49:5",...,"0/0:0,9,118:3","0/1:80,0,28:3","0/1:31,0,17:4","0/1:112,0,118:9","0/0:0,15,192:5","0/0:0,6,64:2","0/0:0,15,169:5","0/1:99,0,77:7","0/1:129,0,20:6","0/1:52,0,76:6"

In [8]:
df['ID'].value_counts()

.    28822046
Name: ID, dtype: int64

In [9]:
df['FILTER'].value_counts()

.    28822046
Name: FILTER, dtype: int64

In [3]:
car_cols = [x for x in df.columns if 'CAR' in x]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28822046 entries, 0 to 28822045
Data columns (total 41 columns):
 #   Column     Dtype
---  ------     -----
 0   CHROM      object
 1   POS        int64
 2   ID         object
 3   REF        object
 4   ALT        object
 5   QUAL       float64
 6   FILTER     object
 7   INFO       object
 8   FORMAT     object
 9   CAR2493_F  object
 10  CAR2494_М  object
 11  CAR2463    object
 12  CAR2464    object
 13  CAR2465    object
 14  CAR2466    object
 15  CAR2467    object
 16  CAR2468    object
 17  CAR2469    object
 18  CAR2470    object
 19  CAR2471    object
 20  CAR2472    object
 21  CAR2473    object
 22  CAR2474    object
 23  CAR2475    object
 24  CAR2476    object
 25  CAR2477    object
 26  CAR2478    object
 27  CAR2479    object
 28  CAR2480    object
 29  CAR2481    object
 30  CAR2482    object
 31  CAR2483    object
 32  CAR2484    object
 33  CAR2485    object
 34  CAR2486    object
 35  CAR2487    object
 36  CAR2488    object
 37  CAR2489    object
 38  CAR2490    object
 39  CAR2491    object
 40  CAR2492    object
dtypes: float64(1), int64(1), object(39)
memory usage: 8.8+ GB

In [8]:
# test_df = pd.read_csv('./data/interim/header2.vcf', sep='\t', comment='#')

In [ ]:
df['is_indel'] = df['INFO'].str.contains('INDEL')

In [5]:
for c in car_cols:
    df[c+'_GT'] = df[c].str.slice(0, 3)

In [6]:
df['CAR2477_GT'].value_counts()

0/0    10296622
0/1     9582222
1/1     6039931
./.     2643140
1/2      171278
0/2       39824
1/3       22933
2/2       17800
2/3        7369
3/3         927
Name: CAR2477_GT, dtype: int64

In [7]:
df[df['CAR2477_GT'] == '1/2']

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,CAR2493_F,...,CAR2483_GT,CAR2484_GT,CAR2485_GT,CAR2486_GT,CAR2487_GT,CAR2488_GT,CAR2489_GT,CAR2490_GT,CAR2491_GT,CAR2492_GT
281,NC_056572.1,30401,.,caaaaa,"cAAaaaaa,cAAAaaaaa",7439.940,.,INDEL;IDV=36;IMF=0.9;DP=963;VDB=0.00572762;SGB...,GT:PL:DP,"1/1:218,21,0,218,21,218:7",...,1/1,1/1,1/1,1/1,1/1,1/1,1/1,1/1,1/2,1/1
767,NC_056572.1,56024,.,taaaaaaaaaaaa,"tAaaaaaaaaaaaa,tAAaaaaaaaaaaaa",4544.460,.,INDEL;IDV=23;IMF=0.766667;DP=664;VDB=5.73186e-...,GT:PL:DP,"1/2:150,54,42,103,0,100:5",...,1/2,1/1,1/2,1/1,1/1,1/1,1/1,1/1,1/2,1/1
864,NC_056572.1,62405,.,cttttttttttttttttttttttt,"ctttttttttttttttt,cTTttttttttttttttttttttttt",3369.350,.,INDEL;IDV=25;IMF=0.833333;DP=747;VDB=1.07828e-...,GT:PL:DP,"1/1:255,27,0,255,27,255:9",...,1/1,./.,./.,1/2,1/1,1/1,1/2,1/2,./.,./.
1017,NC_056572.1,68820,.,aggtg,"ag,agtg",5498.470,.,INDEL;IDV=18;IMF=0.692308;DP=479;VDB=0.0011212...,GT:PL:DP,"1/2:135,68,69,66,0,67:7",...,1/2,1/2,1/2,1/2,1/1,1/2,1/2,2/2,1/2,1/2
1767,NC_056572.1,112164,.,tggggggggg,"tGGGGggggggggg,tGGGggggggggg,tGggggggggg",2076.390,.,INDEL;IDV=13;IMF=1;DP=233;VDB=3.10823e-30;SGB=...,GT:PL:DP,"./.:0,0,0,0,0,0,0,0,0,0:0",...,1/1,1/1,1/1,1/2,./.,1/3,./.,2/3,1/2,1/1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28821304,NC_056621.1,24389439,.,A,"C,T",4681.870,.,DP=1111;VDB=0.24544;SGB=-44.7611;RPBZ=-5.35576...,GT:PL:DP,"1/1:237,20,0,249,78,255:30",...,1/2,0/1,1/1,1/1,0/1,0/1,1/2,0/1,1/2,0/1
28821408,NC_056621.1,24397975,.,taaaaaaaaaaaaaaaaaa,"taaaaaaaaaaaaaaaa,taaaaaaaaaaaaaaa,taaaaaaaaaa...",7071.840,.,INDEL;IDV=33;IMF=0.825;DP=563;VDB=0.0850723;SG...,GT:PL:DP,"1/1:255,40,0,255,57,255,255,57,255,255:20",...,1/2,1/3,1/3,1/1,2/2,1/2,1/3,1/3,1/3,2/2
28821455,NC_056621.1,24405041,.,taaaaaaaaaaaaaaaaa,"tAAaaaaaaaaaaaaaaaaa,tAAAAaaaaaaaaaaaaaaaaa",5570.240,.,INDEL;IDV=26;IMF=0.787879;DP=646;VDB=0.0066792...,GT:PL:DP,"1/1:223,24,0,223,24,223:8",...,./.,1/1,./.,1/2,2/2,2/2,1/1,1/1,1/1,1/2
28821468,NC_056621.1,24408424,.,atttttttttttttttttttttt,"atttttttttttttttttttt,attttttttttttttttttt",3248.880,.,INDEL;IDV=22;IMF=0.758621;DP=490;VDB=0.0023395...,GT:PL:DP,"1/1:40,3,0,40,3,40:1",...,1/1,./.,./.,1/2,1/2,1/2,1/1,./.,1/1,1/2
28821550,NC_056621.1,24420821,.,gtttttttttt,"gTtttttttttt,gTTtttttttttt",240.485,.,INDEL;IDV=3;IMF=0.0789474;DP=771;VDB=0.281852;...,GT:PL:DP,"./.:0,0,0,0,0,0:0",...,./.,./.,./.,./.,./.,./.,1/1,1/1,./.,1/1

In [11]:
cold_to_del = car_cols + ['FILTER', 'ID', 'INFO', 'FORMAT']
df_flt = df.drop(cold_to_del, axis=1)

In [15]:
df_flt.to_parquet('./data/interim/CARP_KANT.parquet')

## Main

In [2]:
df = pd.read_parquet('./data/interim/CARP_KANT.parquet')
df

,CHROM,POS,REF,ALT,QUAL,CAR2493_F_GT,CAR2494_М_GT,CAR2463_GT,CAR2464_GT,CAR2465_GT,...,CAR2483_GT,CAR2484_GT,CAR2485_GT,CAR2486_GT,CAR2487_GT,CAR2488_GT,CAR2489_GT,CAR2490_GT,CAR2491_GT,CAR2492_GT
0,NC_056572.1,186,C,T,347.9240,1/1,./.,./.,1/1,1/1,...,./.,1/1,./.,./.,./.,./.,./.,./.,1/1,1/1
1,NC_056572.1,264,atttttttt,attttttt,742.6710,0/1,0/1,1/1,0/1,0/0,...,1/1,0/1,0/1,0/0,1/1,0/1,0/1,0/1,0/0,0/0
2,NC_056572.1,310,A,G,785.5400,0/1,0/0,1/1,0/1,0/0,...,0/0,0/0,0/0,0/0,0/1,0/1,0/1,0/0,0/0,0/0
3,NC_056572.1,410,G,C,1072.7600,0/0,0/1,0/0,0/0,0/1,...,0/1,0/1,0/1,0/0,0/1,0/1,0/0,0/1,0/1,0/0
4,NC_056572.1,419,C,T,1267.5300,0/1,0/0,0/0,0/0,0/1,...,0/0,0/1,0/1,0/1,0/0,0/0,0/0,0/1,0/1,0/1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28822041,NC_056621.1,24466013,taaaa,tAaaaa,29.4556,0/0,./.,./.,./.,./.,...,./.,./.,./.,./.,./.,./.,0/0,./.,./.,./.
28822042,NC_056621.1,24466018,C,A,1710.7000,1/1,1/1,1/1,1/1,1/1,...,1/1,1/1,1/1,1/1,1/1,1/1,0/1,1/1,1/1,./.
28822043,NC_056621.1,24466071,A,G,701.4380,0/0,0/1,0/0,1/1,0/0,...,0/0,0/1,0/1,0/0,0/0,0/0,0/1,1/1,0/1,0/0
28822044,NC_056621.1,24466075,C,T,700.1770,0/0,0/1,0/0,1/1,0/0,...,0/0,0/1,0/1,0/0,0/0,0/0,0/1,1/1,1/1,0/0
28822045,NC_056621.1,24466154,tttcttcttc,tttcttc,163.3170,0/0,0/0,0/0,0/1,0/0,...,0/0,0/1,./.,./.,0/0,0/0,0/1,./.,0/1,./.

In [7]:
car_cols = [x for x in df.columns if 'CAR' in x]
child_cols = car_cols[2:]
len(child_cols)

30

In [ ]:
for c in tqdm.tqdm(car_cols):
    df[c].replace('./.', np.nan, inplace=True)

In [21]:
df.head()

,CHROM,POS,REF,ALT,QUAL,CAR2493_F_GT,CAR2494_М_GT,CAR2463_GT,CAR2464_GT,CAR2465_GT,...,CAR2483_GT,CAR2484_GT,CAR2485_GT,CAR2486_GT,CAR2487_GT,CAR2488_GT,CAR2489_GT,CAR2490_GT,CAR2491_GT,CAR2492_GT
0,NC_056572.1,186,C,T,347.924,1/1,NaN,NaN,1/1,1/1,...,NaN,1/1,NaN,NaN,NaN,NaN,NaN,NaN,1/1,1/1
1,NC_056572.1,264,atttttttt,attttttt,742.671,0/1,0/1,1/1,0/1,0/0,...,1/1,0/1,0/1,0/0,1/1,0/1,0/1,0/1,0/0,0/0
2,NC_056572.1,310,A,G,785.540,0/1,0/0,1/1,0/1,0/0,...,0/0,0/0,0/0,0/0,0/1,0/1,0/1,0/0,0/0,0/0
3,NC_056572.1,410,G,C,1072.760,0/0,0/1,0/0,0/0,0/1,...,0/1,0/1,0/1,0/0,0/1,0/1,0/0,0/1,0/1,0/0
4,NC_056572.1,419,C,T,1267.530,0/1,0/0,0/0,0/0,0/1,...,0/0,0/1,0/1,0/1,0/0,0/0,0/0,0/1,0/1,0/1

In [22]:
df.columns

Index(['CHROM', 'POS', 'REF', 'ALT', 'QUAL', 'CAR2493_F_GT', 'CAR2494_М_GT',
       'CAR2463_GT', 'CAR2464_GT', 'CAR2465_GT', 'CAR2466_GT', 'CAR2467_GT',
       'CAR2468_GT', 'CAR2469_GT', 'CAR2470_GT', 'CAR2471_GT', 'CAR2472_GT',
       'CAR2473_GT', 'CAR2474_GT', 'CAR2475_GT', 'CAR2476_GT', 'CAR2477_GT',
       'CAR2478_GT', 'CAR2479_GT', 'CAR2480_GT', 'CAR2481_GT', 'CAR2482_GT',
       'CAR2483_GT', 'CAR2484_GT', 'CAR2485_GT', 'CAR2486_GT', 'CAR2487_GT',
       'CAR2488_GT', 'CAR2489_GT', 'CAR2490_GT', 'CAR2491_GT', 'CAR2492_GT'],
      dtype='object')

In [13]:
df.shape

IOStream.flush timed out

(28822046, 37)

In [12]:
df['CAR2493_F_GT'].isna().sum()

2516576

In [ ]:
nvar = len(df)
nvar_F = nvar - df['CAR2493_F_GT'].isna().sum()
nvar_M = nvar - df['CAR2494_М_GT'].isna().sum()
nvar, nvar_F, nvar_M

(28822046, 26305470, 26289881)

In [24]:
(df['CAR2493_F_GT'] == df['CAR2494_М_GT']).sum()

12260455

In [18]:
data_isec = []
for ch in tqdm.tqdm(child_cols):
    ncommon_M = (df['CAR2494_М_GT'] == df[c]).sum()
    ncommon_F = (df['CAR2493_F_GT'] == df[c]).sum()
    private2M = nvar_M - ncommon_M
    private2F = nvar_F - ncommon_F
    
    nvar_ch = nvar - df[ch].isna().sum()

    private2chF = nvar_ch - ncommon_F
    private2chM = nvar_ch - ncommon_M

    data_isec.append((ch, ncommon_M, private2M, private2chM, ncommon_F, private2F, private2chF))
df_isec = pd.DataFrame(data_isec, columns=('ch', 'ncommon_M', 'private2M', 'private2chM', 'ncommon_F', 'private2F', 'private2chF'))

100%|██████████| 30/30 [03:40<00:00,  7.36s/it]

In [20]:
df_isec

,ch,ncommon_M,private2M,private2chM,ncommon_F,private2F,private2chF
0,CAR2463_GT,15814553,10475328,10321102,16550804,9754666,9584851
1,CAR2464_GT,15814553,10475328,10374860,16550804,9754666,9638609
2,CAR2465_GT,15814553,10475328,10333460,16550804,9754666,9597209
3,CAR2466_GT,15814553,10475328,10449516,16550804,9754666,9713265
4,CAR2467_GT,15814553,10475328,10398566,16550804,9754666,9662315
5,CAR2468_GT,15814553,10475328,10381972,16550804,9754666,9645721
6,CAR2469_GT,15814553,10475328,10281475,16550804,9754666,9545224
7,CAR2470_GT,15814553,10475328,10379958,16550804,9754666,9643707
8,CAR2471_GT,15814553,10475328,10263585,16550804,9754666,9527334
9,CAR2472_GT,15814553,10475328,10239003,16550804,9754666,9502752
10,CAR2473_GT,15814553,10475328,10198856,16550804,9754666,9462605
11,CAR2474_GT,15814553,10475328,10108908,16550804,9754666,9372657
12,CAR2475_GT,15814553,10475328,10094343,16550804,9754666,9358092
13,CAR2476_GT,15814553,10475328,10259315,16550804,9754666,9523064
14,CAR2477_GT,15814553,10475328,10364353,16550804,9754666,9628102
15,CAR2478_GT,15814553,10475328,10187853,16550804,9754666,9451602
16,CAR2479_GT,15814553,10475328,10279211,16550804,9754666,9542960
17,CAR2480_GT,15814553,10475328,10249908,16550804,9754666,9513657
18,CAR2481_GT,15814553,10475328,10171586,16550804,9754666,9435335
19,CAR2482_GT,15814553,10475328,10257715,16550804,9754666,9521464
20,CAR2483_GT,15814553,10475328,10158554,16550804,9754666,9422303
21,CAR2484_GT,15814553,10475328,10241392,16550804,9754666,9505141
22,CAR2485_GT,15814553,10475328,10077263,16550804,9754666,9341012
23,CAR2486_GT,15814553,10475328,10189910,16550804,9754666,9453659
24,CAR2487_GT,15814553,10475328,10356110,16550804,9754666,9619859
25,CAR2488_GT,15814553,10475328,10350039,16550804,9754666,9613788
26,CAR2489_GT,15814553,10475328,10361648,16550804,9754666,9625397
27,CAR2490_GT,15814553,10475328,10416599,16550804,9754666,9680348
28,CAR2491_GT,15814553,10475328,10410173,16550804,9754666,9673922
29,CAR2492_GT,15814553,10475328,10394572,16550804,9754666,9658321

In [19]:
df_isec.to_csv('./data/interim/df_isec.tsv', sep='\t', index=False)